body {
  font-family: 'Arial', sans-serif;
  background-image: url('https://t3.ftcdn.net/jpg/03/20/77/82/360_F_320778274_jezgfOrJKXb7F2N1y99lfU9ofjK7Yol8.jpg');
  color: #333;
  margin: 0;
  padding: 0;
}
.auth-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #f3f9f8;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #2c3e50;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.auth-container button {
  padding: 0.8rem;
  background-color: #96d1c7;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-container button:hover {
  background-color: #79b8ac;
}

.auth-container span {
  color: #0077b6;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}
.link-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1rem;
}
.link-button:hover {
  color: #0056b3;
}
